In [1]:
import pandas as pd

from utils import *

In [6]:
cmp_data = read_metadata_without_fields(join(home, "CMP", "CMP_metadata-cell_model.tsv"))

'STR Profile: Amelogenin: X; CSF1PO: 10; D1S1656: 13; D2S441: 10,12; D2S1338: 18,26; D3S1358: 14,17 (KCLB)  17 (Genomics_Center_BCF_Technion); D5S818: 13; D7S820: 11,12 (Genomics_Center_BCF_Technion; PubMed=25926053)  12 (KCLB); D8S1179: 12,13; D10S1248: 13,15; D12S391: 18,21; D13S317: 10; D16S539: 9; D18S51: 13; D19S433: 13,14; D21S11: 29,30; D22S1045: 17; FGA: 23; Penta D: 11,12; Penta E: 11; TH01: 9; TPOX: 11; vWA: 17,19'

In [65]:
cmp_data['str_data'] = [f if f.__contains__('STR Profile') else 'Not provided' for f in cmp_data['comments'].fillna('Not provided')]
cmp_str_data = cmp_data['str_data'].str.replace('STR Profile: ', '').str.replace('\(.*\)', '', regex=True).str.split(';', expand=True)
cmp_str_data['model_id'] = cmp_data['model_id']
column_names = set()
for index, row in cmp_str_data.iterrows():
    [column_names.add(f) for f in row[:-1].str.replace(' ', '').str.split(':', expand=True)[0].fillna('') if f!='' and f!='Notprovided']
    
str_data = pd.DataFrame()
temp_str_data = pd.DataFrame()
for index, row in cmp_str_data.iterrows():
    temp_str_data['model_id'] = [row['model_id']]
    temp = row[:-1].str.replace(' ', '').str.split(':', expand=True).fillna('')
    for ind, r in temp.iterrows():
        if r[0] in column_names:
            temp_str_data[r[0]] = r[1]
    str_data = pd.concat([str_data, temp_str_data]).fillna('').reset_index(drop=True)
str_data

,model_id,Amelogenin,CSF1PO,D3S1358,D5S818,D7S820,D8S1179,D13S317,D16S539,D18S51,...,D19S433,D22S1045,D6S1043,DXS101,SE33,DYS391,F13A01,F13B,FESFPS,LPL
0,SIDM01774,X,10,18,11,8,11,"10,12","11,12",13,...,,,,,,,,,,
1,SIDM00192,X,10,"14,17",11,8,"12,13",10,9,13,...,"13,14",17,,,,,,,,
2,SIDM01447,"X,Y",12,"15,18","7,12","10,12","12,13","8,12",9,13,...,"13,14",17,,,,,,,,
3,SIDM01554,"X,Y","10,11","15,18","12,13",10,"12,13",13,11,13,...,"13,14",17,,,,,,,,
4,SIDM01689,X,"8,9",15,11,10,"10,11","10,12",10,"14,15",...,"14,17",17,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,SIDM02153,"X,Y","10,11","14,17","12,13","9,11",14,11,"10,11","12,13",...,14,"16,17","12,18","23,24",19,10,"6,7",10,"11,12","9,10"
1928,SIDM02155,"X,Y","10,11","14,17","12,13","9,11",14,11,"10,11","12,13",...,14,"16,17","12,18","23,24",19,10,"6,7",10,"11,12","9,10"
1929,SIDM02157,"X,Y","10,11","14,17","12,13","9,11",14,11,"10,11","12,13",...,14,"16,17","12,18","23,24",19,10,"6,7",10,"11,12","9,10"
1930,SIDM02159,"X,Y","10,11","14,17","12,13","9,11",14,11,"10,11","12,13",...,14,"16,17","12,18","23,24",19,10,"6,7",10,"11,12","9,10"
1931,SIDM01339,X,"10,12","14,17",12,8,14,"11,12",11,"12,13",...,14,"16,17","12,18","23,24",19,10,"6,7",10,"11,12","9,10"

In [66]:
str_data

In [72]:
cols = ['model_id']
[cols.append(f) for f in sorted(column_names)]
str_data[cols].to_csv('CMP_str_data.csv',index=False)