In [29]:
from utils import *

In [70]:
def tpm2fpkm(tpm):
    scaling_factor = tpm.sum() / 1e6
    fpkm = round((tpm * scaling_factor), 2)
    return fpkm

def fpkm2tpm(fpkm):
    scaling_factor = fpkm.sum() / 1e6
    tpm = round((fpkm / scaling_factor) , 2)
    return tpm

In [60]:
path = join(home, 'CMP/expression/rnaseq')
files = get_files(path)
expression_df = read_metadata_with_fields(join(path, files[0]))
temp = expression_df[['sample_id', 'symbol', 'rnaseq_fpkm', 'rnaseq_tpm']]
temp

       sample_id    symbol  rnaseq_fpkm  rnaseq_tpm
0      SIDS00694    TSPAN6         8.98        3.70
1      SIDS00694      TNMD         0.01        0.01
2      SIDS00694      DPM1        37.26        5.67
3      SIDS00694     SCYL3         4.62        2.85
4      SIDS00694  C1orf112        15.21        4.42
...          ...       ...          ...         ...
38120  SIDS00694    PTCSC1         0.00        0.00
38121  SIDS00694   FAM106B         0.23        0.38
38122  SIDS00694   FAM106C         1.02        1.24
38123  SIDS00694   ZNF75CP         0.10        0.19
38124  SIDS00694    SMIM42         0.01        0.01

[38125 rows x 4 columns]

In [69]:
fpkm2tpm(temp['rnaseq_fpkm'])

0        12.24
1         0.01
2        50.79
3         6.30
4        20.73
         ...
38120     0.00
38121     0.31
38122     1.39
38123     0.14
38124     0.01
Name: rnaseq_fpkm, Length: 38125, dtype: float64

In [71]:
tpm2fpkm(temp['rnaseq_tpm'])

0        0.22
1        0.00
2        0.33
3        0.17
4        0.26
         ...
38120    0.00
38121    0.02
38122    0.07
38123    0.01
38124    0.00
Name: rnaseq_tpm, Length: 38125, dtype: float64

In [15]:
sum_tpm

1000000.22